<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nethack-corpse-workflow</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Christian Klopp</string>
	<key>description</key>
	<string>get information about corpses in nethack</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>nethack-corpse-workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nhc</string>
				<key>script</key>
				<string>python nethack-workflow.py "{query}"</string>
				<key>subtext</key>
				<string>get information about corpses</string>
				<key>title</key>
				<string>Nethack Corpses</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9B03CDCF-8653-4C76-9A8B-303540A59932</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>9B03CDCF-8653-4C76-9A8B-303540A59932</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
